<link rel="stylesheet" type="text/css" href="app.css">
<link href="https://fonts.googleapis.com/css?family=space+mono:400,700" rel="stylesheet">
<meta name="viewport" content="width=device-width,initial-scale=1">
<h1>
	Results!
</h1>

	
	<% for( var i=0; i < data[mycountry].length;i++){ %>
	<%	if(data[mycountry][i].date == mydate){ %>
	<%				var index = i;             %>
	<%	} %>
	<% } %>
		<%	 var CasesConfirmed = +data[mycountry][index]["confirmed"]%>
		<%	 var Deaths = +data[mycountry][index]["deaths"]%>
		<%	 var Recovered = +data[mycountry][index]["recovered"]%>
		<%	 var ActiveCases = CasesConfirmed - Deaths - Recovered;%>
<ul>
	<li><strong>Cases Confirmed : </strong> <%=	 +CasesConfirmed %></li>
	<li><strong>Active Cases : </strong><%=	 +ActiveCases %></li>
	<li><strong>Recovered : </strong><%=	+Recovered %></li>	
	<li><strong>Deaths : </strong><%=+Deaths %></li>	
</ul>
	
<button>
	<a href = "/">Search Again!</a>
</button>
		
			
	
